html,
body {
  margin: 0px;
}

.icon-intro-area {
  display: flex;
  margin-bottom: 5px;
}

.icon-image-area {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icon-image {
  height: 20px;
  margin-right: 5px;
}
